/* Navbar container styles */
.navbar {
  display: flex;
  align-items: center; /* Vertically center items */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  height: 70px; /* Adjust the height as needed */
  border-color: black;
  /* width: 100vw; */
}

/* Profile picture styles */
.main-pfp {
  width: 100px;
  height: 110px;
  margin-right: 20px; /* Add spacing between the image and links */
}

/* Navbar links styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items horizontally */
  padding-left: 720px;
}

ul li {
  margin-right: 50px; /* Add spacing between list items */
}

.navbar-link{
  text-decoration: none;
  color: #000000;
  font-size: 19px;
  transition-duration: 0.5s;
  padding-left: 150px;
}

.navbar-link:hover {
  text-decoration: underline;
  text-decoration-color: #FFB6AD;
  text-decoration-thickness: 5px;
}

/* @media (max-width: 1440px) {
  a {
    font-size: 16px; 
    padding-left: 110px;
    text-decoration: none;
    color: #000000;
    transition-duration: 0.5s;
    padding-left: 110px;
  }
a:hover {
    text-decoration: underline;
    text-decoration-color: #FFB6AD;
    text-decoration-thickness: 5px;}

  .navbar{
    width: 100%;
  } */

  /* .main-pfp {
    width: 100px;
    height: 110px;
    margin-right: 20px;
  }   */
