.content-section{
    animation: slideIn 1s ease-in-out 0.5s;
}





.social-subsection-twitch-button{
    display: flex;
    color: white;
    background-color: transparent;
    border:none;
    font-size: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}
.twitch-link{
    text-decoration: none;
}
.social-subsection-twitch-button:hover{
    background-color:#6441a5;
    text-decoration: none;

}

.ti-twitch{
    width: 900px;
    height: 90%;
    padding-left: 100px;
}


/* .mobile-section{
display: flex;
margin: 0;
}

.mobile-content{
display: flex;
} */

.video-section{
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    padding-left: 81px;
    
}

.content-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 184px;
    margin-left: 157px; 

}
.content-title{
font-size: 58.5px;
color: white;
}

.ti-social{
    height: 850px;
    padding-top: -10px;
    position: relative;
}

.social-link{
text-decoration: none;
}

@keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }