.content-section{}





.social-subsection-twitch-button{
    display: flex;
    color: white;
    background-color: transparent;
    border:none;
    font-size: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}
.twitch-link{
    text-decoration: none;
}
.social-subsection-twitch-button:hover{
    background-color:#6441a5;
    text-decoration: none;

}

.ti-twitch{
    width: 900px;
    height: 90%;
    padding-left: 100px;
}


/* .mobile-section{
display: flex;
margin: 0;
}

.mobile-content{
display: flex;
} */

.video-section{
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    padding-left: 120px;
}
.content-title{
font-size: 65px;
color: white;
display: flex;
word-spacing: 30px;
}

.ti-social{
    height: 750px;
    padding-top: 200px;
    position: relative;
}